.projects-container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    height: auto;
}

.project-wrapper {
    height: 240px;
    width: 340px;
    text-align: center;
    margin: 16px;
    position: relative;
    padding: 5px;
}

.project-wrapper.project-1 {
    background-image: url(./images/photo1.jpg);
}

.project-wrapper.project-2 {
    background-image: url(./images/photo2.jpg);
}

.project-wrapper.project-3 {
    background-image: url(./images/photo3.jpg);
}

.project-wrapper.project-4 {
    background-image: url(./images/photo4.jpeg);
}

.project-wrapper.project-5 {
    background-image: url(./images/photo5.jpg);
}

.title-project {
    font-size: 30px;
    border: hidden;
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    right: 70px;
    left: 70px;
}

.description-project {
    display: none;
}

.project-wrapper:hover .description-project {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    right: 50px;
    left: 50px;
}

.project-wrapper:hover {
    opacity: 0.7;
}

.open-project {
    font-size: 15px;
    color: #000;
    border: hidden;
    background-color: aliceblue;
    opacity: 0.8;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 70px;
    left: 70px;
}