.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
}


.icon {
    text-align: center;
    color: #105997;
    margin-right: 30px;
}

.education-icon {
    margin-right: 42px;
}
.briefecase-icon {
    margin-right: 54px;
}

.stage-description {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
}

.stage-header {
    text-align: center;
}
