.main-photo {
    width: 561px;
    height: 600px;
    margin: 10px auto;
    background-image: url(./images/myhoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 561px) {
    width: 100vw;
}